<%= link_to "Add new program", new_manager_program_path, class:"btn btn-primary float-right"%>
<h3>Daycare Programs</h3>
<hr>
<div class="clearfix">
  <% @programs.each do |program| %>
    <div class="cardbox cardbox-wide">
      <%= link_to "Edit", edit_manager_program_path(program), class:"btn btn-outline-primary float-right" %>
      <%= link_to "Scheduling", manager_program_weekly_schedules_path(program), class:"btn btn-primary float-right"%>
      <div><b><%= program.name %></b></div>
      <div>From age: <%= program.from_age %></div>
      <div>To age: <%= program.to_age %></div>
    </div>
  <% end %>
</div>
