
<div class="container main-container">
<%= link_to "Back", parents_children_path() %>
<br>
<h3><%= @child.name %>'s Weekly Schedule</h3>
<hr>
<div class="clearfix">
  <% @weekly_schedules.each do |week| %>
    <% if week.is_published %>
      <%= link_to parents_child_weekly_schedule_daily_schedule_path(@child, week, week.daily_schedules.first) do%>  
          <div class="cardbox cardbox-hover">
              <div><b>Week #<%= week.start_date.strftime('%Y-%m-%d') %></b></div>
          </div>
      <% end %>
    <% else %>
          <div class="cardbox cardbox-inactive">
              <div><b>Week #<%= week.start_date.strftime('%Y-%m-%d') %></b></div>
          </div>
    <% end %>
  <% end %>
</div>
</div>
