<%= link_to "Add new activity", new_program_weekly_schedule_daily_schedule_activity_path(@program, @weekly_schedule, @daily_schedule), class:"btn btn-primary float-right"%>
<h4>Activities</h4>
<% @daily_schedule.activities.order(:start_time).where.not(id: nil).each do |activity| %>
  <%= link_to edit_program_weekly_schedule_daily_schedule_activity_path(@program, @weekly_schedule, @daily_schedule, activity) do%>
    <div class="cardbox cardbox-block <%= 'cardbox-active' if @activity == activity %>">
      <div><%= activity.start_time.strftime('%I:%M%p') %> - <%= activity.end_time.strftime('%I:%M%p') %></div>
      <div><b><%= activity.name %></b></div>
      <div><%= activity.category %></div>
      <div>at <%= activity.location %></b></div>
    </div>
  <% end %>
<% end %>
